{% extends 'base.html' %}

{% block title %}Agendar Turno{% endblock %}

{% block content %}
    
    <form method="post">
        <h1>Agendar Turno para {{ cliente.nombre }}</h1>
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.non_field_errors %}
            <div class="errors">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button type="submit">Agendar Turno</button>
        <a href="{% url 'home' %}" class="button">IR al inicio</a><br>
    </form>
{% endblock %}
